.env
.venv/
.idea/

__pycache__/
*.py[cod]
.pytest_cache/

logs/
archive/

reports/generated/
reports/historical/
reports/*.html
*.log
output*.txt

data/*.db
*.sqlite
*.sqlite3
chroma.sqlite3

catboost_info/
14909bd9-8fe5-41e1-b29c-6b6db89ded34/
c089fd84-e2db-4c2b-9040-3beac2cbd3a5/
f7ef2111-a5af-4bce-b40f-57c646b42db9/

node_modules/
